/* Box sizing rules */
* {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
p {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: black;
}

#startGamePage {
  height: 100vh;
  width: 100vw;
  background-color: #3c99dc;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro {
  background-color: #37ccf8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: -64px;
  margin-left: -4px;
  width: 360px;
  height: 360px;
}

h1 {
  font-family: "Saira Stencil One", cursive;
  color: #06293f;
  font-size: 45px;
  margin-top: 30px;
}

#startButton {
  background-color: #0a375c;
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  max-width: 200px;
  border-radius: 4px;
  margin-top: 15px;
  transition: background-color 0.2s ease-in-out;
}

#startButton:hover {
  background-color: #06293f;
}

#game {
  overflow: visible;
}

#game-over {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  display: none;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.473);
}
.powerups {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  z-index: -1;
}
.powerup {
  height: 50px;
  width: 50px;
  background: white;
  margin: 10px;
  opacity: 0.4;
}
.power-cont {
  height: 50px;
  width: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.powerup-img {
  height: 50px;
  width: 50px;
}
.menu {
  height: 250px;
  width: 200px;
  background-image: url("../images/Menu/Menu.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 40px;
}
#restart {
  background-image: url("../images/Menu/PlayAgain.png")
}
#restart:hover {
  background-image: url("../images/Menu/PlayAgainPressed.png")
}
#store {
  background-image: url("../images/Menu/Shop.png");
}
#store:hover {
  background-image: url("../images/Menu/ShopPressed.png");
}
#main-menu {
  background-image: url("../images/Menu/NewPlayer.png");
}
#main-menu:hover {
  background-image: url("../images/Menu/NewPlayerPressed.png");
}
.menu-button {
  width: 174px;
  height: 50px;
  cursor: pointer;
}
#game-over button {
  cursor: pointer;
}
.coin-bank {
  position: absolute;
  left: 20%;
  width: 60%;
  top: 50px;
  background: grey;
  border: 5px solid darkgrey;
  border-radius: 5px;
  z-index: -1;
  opacity: 0.6;
  overflow: none;
}
#coins {
  height: 5px;
  width: 0%;
  background-color: gold;
}
#money {
  position: absolute;
  right: 10px;
  top: 10px;
  color: gold;
  opacity: 0.6;
  z-index: -1;
}